html{
    font-size: 62.5%;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{
    font-size: 1.5rem;
}

#link-header{
    font-size: 3.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    padding: 1rem;
}
#link-header-list{
    
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
    display: flexbox ;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    padding: 1rem ;
}
#link-header-list li{
    padding: 0.5rem;
}
#home-page-link{
    font-size: 2.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    padding: 1rem;
}
a:visited{
    color: rgb(236, 6, 6);
}
a:hover{
    color: beige;
    background-color: black;
}