h1{
    color: rgb(61, 121, 2);
}
.container{
    height: 200px;
    background-color: #e9a655;

}
.content1{
    text-align: center;
background-color: aqua;
width: 80px;
margin: 0 auto;
}
.content2{
    background-color: blueviolet;
    display: inline;
}