h1{
    color: red;
}

body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    color: black;
    text-align: left;

}
nav.main-menu{
    background-color: rgb(199, 197, 197);
    width: 150px;
    padding: 1px;
}
.main-menu-ul{
    padding: 0;
    list-style-type: '💀';
    list-style-position: inside;
}
.main-menu-ul li{
    margin: 20px 0px;

}
.main-menu-link{
    padding: 5px;
}

.main-menu-link:hover{
    color: white;
    background-color: black;
}

.navbar{
    background-color: rgb(199, 197, 197);
    width: 140px;
    padding: 1px;
    margin: 20px;
    
}
.navbar ul{
    padding: 0;
    list-style-type: '💀';
    list-style-position: inside;
}
.navbar ul li{
    margin: 20px 0px;
}
.navbar ul li a{
    padding: 5px;
}
.navbar ul li a:hover{
    color: white;
    background-color: black;
}



.flex-menu {
    width: 500px;
}

.flex-menu ul{
    display: flex;
    list-style-type: none;
    
}
.flex-menu-link{
    background-color: rgb(198, 198, 198);
    
    margin: 10px 10px;
    padding: 7px;
    
    border-radius: 100%;
   
}
.flex-menu-link:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 55);
}

nav.menu a{
    text-decoration: none;
    color: black;
}

.menu{
    display:  inline-block;
}
.menu ul{
    list-style-type: '💀';
    padding: 0px 12px;
    display: none;
    margin: 0;
    margin-top: 10px;
   
}
.menu:hover ul{
    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 15%;
}
.menu a:hover{
    background-color: rgb(27, 14, 145);
    color: rgb(255, 255, 255);
}
button{
    background-color: rgb(98, 83, 155);
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid rgb(43, 40, 207);
    border-radius: 40%;
}
button:hover{
    background-color: rgb(27, 14, 145);
    color: rgb(255, 255, 255);
    
}

nav.menuP{
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
    }
    nav.menuP ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    nav.menuP ul li a{
        text-decoration: none;
        color: aliceblue;
        border-left: 1px solid red;
        display: inline-block;
        padding: 5px 0;
        width: 100px;
        text-align: center;

    }
    nav.menuP ul li:first-child a{
        border-left:none;

    }
    nav.menuP ul li a:hover{
        color: black;
        font-size: 2rem;
       
    }

    nav.menuP ul li:first-child a::before{
content: '<    ';
color: brown;
font-size: 3rem;
    }
    nav.menuP ul li:last-child a::after{
        content: '    >';
        color: brown;
        font-size: 3rem;
    }